ESPOCRM_URL=http://localhost:8080
ESPOCRM_API_KEY=PEGA_AQUI_TU_API_KEY
OUR_EMAIL=contact@nmdasolutions.com

ESPOCRM_EMAIL_LINK=emails
ESPOCRM_TASK_LINK=tasks

LEAD_STATUSES=Assigned,In Process

FOLLOWUP_1_AFTER_DAYS=3
FOLLOWUP_2_AFTER_DAYS=3
RECYCLE_AFTER_DAYS=3

MAX_LEADS=200
